*{
   box-sizing:  border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
 background-color: deepskyblue;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-size: 1em;
    font-family: ariel, "ariel thin", sans-serif;
}
#wrapper{
    width: 100%;
}

#hi-lo{
    list-style: none;
}
#hi-lo>li{

    display: inline;
    width: 33%;
    margin: 50px;
    text-align: center;
}
#weathersummary{
    list-style: none;
    text-align: center;

}

#hourlytemperature{
    display: none;
}

/*Media Query for Medium Size screens*/
@media screen and (min-width: 768px){
    #hourlytemperature{
        display: block;

    }

}



/*Media Query for Large Size screens*/
@media screen and (min-width: 1024px){
    #hourlytemperature{
        display: block;

    }

}

